In [1]:
import numpy as np
from IPython.display import display

import re
from pathlib import Path

import pandas as pd

from src.processing.taxation_list import _open_file_taxation_list

In [2]:
file_path = Path().absolute().parent / "data/example_1_taxation_list.xlsx"

is_import_first_row = False
column_mapping = {
    'number': 0,
    'name': 1,
    'quantity': 2,
    'height': 3,
    'diameter': 4,
    'quality': 5
}
table_data_df = _open_file_taxation_list(file_path, is_import_first_row, column_mapping)
table_data_df

,origin_number,name,quantity,height,diameter,quality
0,1,береза,14 м2,1,-,Хорошее
1,2,ольха,14 м2,"2,5","0,08",Хорошее
2,"3,4",Ольха серая,2,"5,5","4,5",Хорошее
3,5,береза,6 стволов,"4,4,4,4,4,4","5,5,5,5,5,5",Хорошее
4,16,Ива ломкая,54 ствола,"5х14, 4х30, 3х8,2,1","7х3,4х11, 2х40",Хорошее
5,7,береза,1,"2,5",-,Хорошее
6,8,береза,72 м2,"1,5",-,Хорошее
7,9,ольха,72 м2,2,"0,06",Хорошее
8,10,Яблоня домашняя,2 ствола,"1,5х2","0,04х2",Хорошее
9,11,Яблоня домашняя,4,1.5х4,0.04х4,Хорошее
10,12,Яблоня домашняя,3,"1,5х3","0,03х3",Хорошее
11,13,Яблоня домашняя,2 ствола,"1,5х2","0,04х2",Хорошее; плохое
12,14,Яблоня домашняя,2,1.5х2,0.03х2,Хорошее
13,15,Алыча,19 м.п.,2х2,"0,07х2",Хорошее
14,16,Алыча,6 м.п.,3,"0,12",Хорошее
15,17,Смородина чёрная,13 м2,"0,5",-,Хорошее
16,18,Смородина чёрная,1,"0,5",-,Хорошее
17,19а-в,Берёза пушистая,3,"0,4","0,01",Хорошее
18,19 г,Берёза пушистая,1,"0,4","0,01",Хорошее
19,"20,21-22, 23",Ольха серая,4,5х4,"5,4,8х2",Хорошее
20,24-25,Берёза пушистая,2,"0,4","0,01",Хорошее
21,26,Берёза пушистая,3,0.4,0.01,Хорошее
22,26а,Берёза пушистая,3 ствола,"1,5х3","0,03х3",Хорошее
23,27.1,Берёза пушистая,3 ствола,"1,5х3","0,03х3",Хорошее
24,27.2-27.3,Берёза пушистая,2,"0,4","0,01",Хорошее
25,28,Берёза пушистая,15 м2,"1,5х4","0,03х4",Хорошее

In [3]:
def filter_quantity_1(df: pd.DataFrame) -> pd.Series:
    df_1 = df[df['quantity'].str.contains(r'^\d+$')]
    return df_1[df_1['quantity'].astype(int) > 1]

def filter_quantity_2(df: pd.DataFrame) -> pd.Series:
    return df[~df['quantity'].str.contains(r'^\d+$')]

def filter_quantity_3(df: pd.DataFrame) -> pd.Series:
    return df[df['quantity'].str.contains(r'^1$')]

display(table_data_df.pipe(filter_quantity_1))
display(table_data_df.pipe(filter_quantity_2))
display(table_data_df.pipe(filter_quantity_3))

   origin_number             name quantity height diameter  quality
2            3,4      Ольха серая        2    5,5      4,5  Хорошее
9             11  Яблоня домашняя        4  1.5х4   0.04х4  Хорошее
10            12  Яблоня домашняя        3  1,5х3   0,03х3  Хорошее
12            14  Яблоня домашняя        2  1.5х2   0.03х2  Хорошее
17         19а-в  Берёза пушистая        3    0,4     0,01  Хорошее
19  20,21-22, 23      Ольха серая        4    5х4  5,4,8х2  Хорошее
20         24-25  Берёза пушистая        2    0,4     0,01  Хорошее
21            26  Берёза пушистая        3    0.4     0.01  Хорошее
24     27.2-27.3  Берёза пушистая        2    0,4     0,01  Хорошее

,origin_number,name,quantity,height,diameter,quality
0,1,береза,14 м2,1,-,Хорошее
1,2,ольха,14 м2,"2,5","0,08",Хорошее
3,5,береза,6 стволов,"4,4,4,4,4,4","5,5,5,5,5,5",Хорошее
4,16,Ива ломкая,54 ствола,"5х14, 4х30, 3х8,2,1","7х3,4х11, 2х40",Хорошее
6,8,береза,72 м2,"1,5",-,Хорошее
7,9,ольха,72 м2,2,"0,06",Хорошее
8,10,Яблоня домашняя,2 ствола,"1,5х2","0,04х2",Хорошее
11,13,Яблоня домашняя,2 ствола,"1,5х2","0,04х2",Хорошее; плохое
13,15,Алыча,19 м.п.,2х2,"0,07х2",Хорошее
14,16,Алыча,6 м.п.,3,"0,12",Хорошее
15,17,Смородина чёрная,13 м2,"0,5",-,Хорошее
22,26а,Берёза пушистая,3 ствола,"1,5х3","0,03х3",Хорошее
23,27.1,Берёза пушистая,3 ствола,"1,5х3","0,03х3",Хорошее
25,28,Берёза пушистая,15 м2,"1,5х4","0,03х4",Хорошее

   origin_number              name quantity height diameter  quality
5              7            береза        1    2,5        -  Хорошее
16            18  Смородина чёрная        1    0,5        -  Хорошее
18          19 г   Берёза пушистая        1    0,4     0,01  Хорошее

In [50]:
def split_hd(text: str) -> list[str|None]:
    values = []
    if ';' in text:
        parts = [_.replace(',', '.') for _ in text.split(';')]
    elif ',' in text:
        parts = text.split(',')
    else:
        parts = [text]
    for part in parts:
        part = part.strip()
        if re.match(r'^\d+$', part):
            values.append(int(part))
        elif re.match(r'^\d+\.\d+$', part):
            values.append(float(part))
        elif re.match(r'^\d+x\d+$', part.replace('х', 'x').replace('Х', 'x').replace('X', 'x')):
            size, quantity = part.split('x')
            for _ in range(int(quantity)):
                values.append(int(size))
        elif re.match(r'^\d+\.\d+x\d+$', part.replace('х', 'x').replace('Х', 'x').replace('X', 'x')):
            size, quantity = part.split('x')
            for _ in range(int(quantity)):
                values.append(float(size))
        elif part == '-':
            values.append(part)
        else:
            values.append(None)
    return values

split_hd("2;3,3;2.1x3; 4")

[2, 3.3, 2.1, 2.1, 2.1, 4]

In [51]:
table_data_df['diameter_split'] = table_data_df['diameter'].apply(split_hd)
# table_data_df['height_split'] = table_data_df['height'].apply(split_hd)

ValueError: not enough values to unpack (expected 2, got 1)

In [55]:
split_hd(table_data_df['diameter'][1])

[0, 8]