In [142]:
import pandas as pd
from pandas.core.computation.expr import intersection
from shapely.geometry import Polygon
from shapely.wkt import loads
import xlwings as xw

from src.validation import SearchAmbiguity

In [236]:
selected_cells = xw.apps.active.selection
selected_cells.value

6.0

In [278]:
print(xw.sheets.active.range('A1').value)

None

In [17]:
selected_cells = xw.apps.active.selection
wkt = selected_cells.value
polygon: Polygon = loads(wkt)

In [319]:
sheet_result = 'Зона 1'

In [320]:
sheet_autocad = xw.sheets['Автокад']
autocad_df = sheet_autocad.range('A1').expand().options(pd.DataFrame, header=1, index=False).value
autocad_df['number_position'] = autocad_df['number_position'].apply(lambda x: loads(x))
autocad_df['geometry'] = autocad_df['geometry'].apply(lambda x: loads(x))

autocad_df

,index,origin_number,number_position,split_number,type,geometry,size
0,0,3,POINT (3108.838205298518 1707.285109871409),3,Point,POINT (3108.838205298518 1707.285109871409),NaN
1,1,4,POINT (3114.150988844972 1707.4695572873902),4,Point,POINT (3114.150988844972 1707.4695572873902),NaN
2,2,5,POINT (3115.690642463274 1707.5867820573599),5,Point,POINT (3115.690642463274 1707.5867820573599),NaN
3,3,6,POINT (3115.1004453425708 1706.18062074892),6,Point,POINT (3115.1004453425708 1706.18062074892),NaN
4,4,7,POINT (3114.699609216242 1705.0905155704238),7,Point,POINT (3114.699609216242 1705.0905155704238),NaN
5,5,10,POINT (3104.043722283615 1698.543651078497),10,Point,POINT (3104.043722283615 1698.543651078497),NaN
6,6,11,POINT (3105.090899215862 1695.9481208535972),11,Point,POINT (3105.090899215862 1695.9481208535972),NaN
7,7,12,POINT (3106.332887793542 1693.7013226121771),12,Point,POINT (3106.332887793542 1693.7013226121771),NaN
8,8,14,POINT (3104.361115387819 1692.888423763281),14,Point,POINT (3104.361115387819 1692.888423763281),NaN
9,9,13,POINT (3107.4888707400646 1689.420932022136),13,Point,POINT (3107.4888707400646 1689.420932022136),NaN
10,10,18,POINT (3111.379753263188 1713.542099550268),18,Point,POINT (3111.379753263188 1713.542099550268),NaN
11,11,19а-г,POINT (3115.8767179014208 1710.2258575299381),19а,Point,POINT (3115.8767179014208 1710.2258575299381),NaN
12,12,19а-г,POINT (3115.8767179014208 1710.2258575299381),19б,Point,POINT (3115.8767179014208 1710.2258575299381),NaN
13,13,19а-г,POINT (3115.8767179014208 1710.2258575299381),19в,Point,POINT (3115.8767179014208 1710.2258575299381),NaN
14,14,19а-г,POINT (3115.8767179014208 1710.2258575299381),19г,Point,POINT (3115.8767179014208 1710.2258575299381),NaN
15,15,20,POINT (3115.0061404912108 1715.72499227971),20,Point,POINT (3115.0061404912108 1715.72499227971),NaN
16,16,21,POINT (3113.301828595038 1716.110113041026),21,Point,POINT (3113.301828595038 1716.110113041026),NaN
17,17,22,POINT (3112.086560913637 1715.354679146507),22,Point,POINT (3112.086560913637 1715.354679146507),NaN
18,18,23,POINT (3109.758842254726 1716.964399774057),23,Point,POINT (3109.758842254726 1716.964399774057),NaN
19,19,24-25,POINT (3105.0233167174188 1709.065127000339),24,Point,POINT (3105.0233167174188 1709.065127000339),NaN
20,20,24-25,POINT (3105.0233167174188 1709.065127000339),25,Point,POINT (3105.0233167174188 1709.065127000339),NaN
21,21,"26,26а",POINT (3102.168668723462 1708.5065675452358),26,Point,POINT (3102.168668723462 1708.5065675452358),NaN
22,22,"26,26а",POINT (3102.168668723462 1708.5065675452358),26а,Point,POINT (3102.168668723462 1708.5065675452358),NaN
23,23,27.1-27.3,POINT (3102.4476191511308 1705.577447903106),27.1,Point,POINT (3102.4476191511308 1705.577447903106),NaN
24,24,27.1-27.3,POINT (3102.4476191511308 1705.577447903106),27.2,Point,POINT (3102.4476191511308 1705.577447903106),NaN
25,25,27.1-27.3,POINT (3102.4476191511308 1705.577447903106),27.3,Point,POINT (3102.4476191511308 1705.577447903106),NaN
26,26,8,POINT (3106.665839634858 1703.063361392738),8,Polygon,"POLYGON ((3106.916523995033 1690.249262830753,...",72.187969
27,27,9,POINT (3104.129760581689 1690.6193231862521),9,Polygon,"POLYGON ((3106.916523995033 1690.249262830753,...",72.187969
28,28,1,POINT (3075.965582309878 1696.6051757815592),1,Polygon,POLYGON ((3075.045526933311 1693.2592293092591...,13.829652
29,29,2,POINT (3074.823165523758 1693.9006874227402),2,Polygon,POLYGON ((3075.045526933311 1693.2592293092591...,13.829652
30,30,15,POINT (3097.9560283575443 1701.4723291555626),15,LineString,LINESTRING (3097.9560283575443 1701.4723291555...,14.141617
31,31,16,POINT (3099.2754038714006 1706.814426161843),16,LineString,LINESTRING (3099.2754038714006 1706.8144261618...,6.236122
32,32,17,POINT (3103.397247052118 1686.4241498990618),17,Polygon,POLYGON ((3106.4966015613422 1689.562929311654...,13.404293
33,33,28,POINT (3100.4190364519973 1697.392114117334),28,Polygon,POLYGON ((3100.4190364519973 1697.392114117334...,13.404293

In [321]:
sheet_zones = xw.sheets['Зоны']
zones_df = sheet_zones.range('A1').expand().options(pd.DataFrame, header=1, index=False).value

zones_df

  index    name                                           geometry
0     0  Зона 1  POLYGON ((3119.998163227592 1712.652575184729,...
1     1  Зона 2  MULTIPOLYGON (((3117.421038375149 1688.1591344...
2     2  Зона 3  MULTIPOLYGON (((3107.360738445024 1711.4623614...

In [322]:
zone_names = zones_df.name.tolist()
zone_names.remove(sheet_result)

zone_names

['Зона 2', 'Зона 3']

In [323]:
from win32com.universal import com_error

used_split_numbers_df = pd.DataFrame(columns=['split_number', 'type'])
for zone_name in zone_names:
    try:
        sheet_zone = xw.sheets[zone_name]
    except com_error:
        continue
    if sheet_zone.range('A1').value is None:
        continue
    _used_split_numbers_df = sheet_zone.range('A1').expand().options(pd.DataFrame, header=1, index=False).value[['split_number', 'type']]
    used_split_numbers_df = pd.concat([used_split_numbers_df, _used_split_numbers_df])
used_split_numbers = used_split_numbers_df[used_split_numbers_df['type'] == 'Point']['split_number'].tolist()

used_split_numbers

[]

In [324]:
autocad_df_not_used = autocad_df[~autocad_df['split_number'].isin(used_split_numbers)]

autocad_df_not_used

,index,origin_number,number_position,split_number,type,geometry,size
0,0,3,POINT (3108.838205298518 1707.285109871409),3,Point,POINT (3108.838205298518 1707.285109871409),NaN
1,1,4,POINT (3114.150988844972 1707.4695572873902),4,Point,POINT (3114.150988844972 1707.4695572873902),NaN
2,2,5,POINT (3115.690642463274 1707.5867820573599),5,Point,POINT (3115.690642463274 1707.5867820573599),NaN
3,3,6,POINT (3115.1004453425708 1706.18062074892),6,Point,POINT (3115.1004453425708 1706.18062074892),NaN
4,4,7,POINT (3114.699609216242 1705.0905155704238),7,Point,POINT (3114.699609216242 1705.0905155704238),NaN
5,5,10,POINT (3104.043722283615 1698.543651078497),10,Point,POINT (3104.043722283615 1698.543651078497),NaN
6,6,11,POINT (3105.090899215862 1695.9481208535972),11,Point,POINT (3105.090899215862 1695.9481208535972),NaN
7,7,12,POINT (3106.332887793542 1693.7013226121771),12,Point,POINT (3106.332887793542 1693.7013226121771),NaN
8,8,14,POINT (3104.361115387819 1692.888423763281),14,Point,POINT (3104.361115387819 1692.888423763281),NaN
9,9,13,POINT (3107.4888707400646 1689.420932022136),13,Point,POINT (3107.4888707400646 1689.420932022136),NaN
10,10,18,POINT (3111.379753263188 1713.542099550268),18,Point,POINT (3111.379753263188 1713.542099550268),NaN
11,11,19а-г,POINT (3115.8767179014208 1710.2258575299381),19а,Point,POINT (3115.8767179014208 1710.2258575299381),NaN
12,12,19а-г,POINT (3115.8767179014208 1710.2258575299381),19б,Point,POINT (3115.8767179014208 1710.2258575299381),NaN
13,13,19а-г,POINT (3115.8767179014208 1710.2258575299381),19в,Point,POINT (3115.8767179014208 1710.2258575299381),NaN
14,14,19а-г,POINT (3115.8767179014208 1710.2258575299381),19г,Point,POINT (3115.8767179014208 1710.2258575299381),NaN
15,15,20,POINT (3115.0061404912108 1715.72499227971),20,Point,POINT (3115.0061404912108 1715.72499227971),NaN
16,16,21,POINT (3113.301828595038 1716.110113041026),21,Point,POINT (3113.301828595038 1716.110113041026),NaN
17,17,22,POINT (3112.086560913637 1715.354679146507),22,Point,POINT (3112.086560913637 1715.354679146507),NaN
18,18,23,POINT (3109.758842254726 1716.964399774057),23,Point,POINT (3109.758842254726 1716.964399774057),NaN
19,19,24-25,POINT (3105.0233167174188 1709.065127000339),24,Point,POINT (3105.0233167174188 1709.065127000339),NaN
20,20,24-25,POINT (3105.0233167174188 1709.065127000339),25,Point,POINT (3105.0233167174188 1709.065127000339),NaN
21,21,"26,26а",POINT (3102.168668723462 1708.5065675452358),26,Point,POINT (3102.168668723462 1708.5065675452358),NaN
22,22,"26,26а",POINT (3102.168668723462 1708.5065675452358),26а,Point,POINT (3102.168668723462 1708.5065675452358),NaN
23,23,27.1-27.3,POINT (3102.4476191511308 1705.577447903106),27.1,Point,POINT (3102.4476191511308 1705.577447903106),NaN
24,24,27.1-27.3,POINT (3102.4476191511308 1705.577447903106),27.2,Point,POINT (3102.4476191511308 1705.577447903106),NaN
25,25,27.1-27.3,POINT (3102.4476191511308 1705.577447903106),27.3,Point,POINT (3102.4476191511308 1705.577447903106),NaN
26,26,8,POINT (3106.665839634858 1703.063361392738),8,Polygon,"POLYGON ((3106.916523995033 1690.249262830753,...",72.187969
27,27,9,POINT (3104.129760581689 1690.6193231862521),9,Polygon,"POLYGON ((3106.916523995033 1690.249262830753,...",72.187969
28,28,1,POINT (3075.965582309878 1696.6051757815592),1,Polygon,POLYGON ((3075.045526933311 1693.2592293092591...,13.829652
29,29,2,POINT (3074.823165523758 1693.9006874227402),2,Polygon,POLYGON ((3075.045526933311 1693.2592293092591...,13.829652
30,30,15,POINT (3097.9560283575443 1701.4723291555626),15,LineString,LINESTRING (3097.9560283575443 1701.4723291555...,14.141617
31,31,16,POINT (3099.2754038714006 1706.814426161843),16,LineString,LINESTRING (3099.2754038714006 1706.8144261618...,6.236122
32,32,17,POINT (3103.397247052118 1686.4241498990618),17,Polygon,POLYGON ((3106.4966015613422 1689.562929311654...,13.404293
33,33,28,POINT (3100.4190364519973 1697.392114117334),28,Polygon,POLYGON ((3100.4190364519973 1697.392114117334...,13.404293

In [325]:
zone_shape = loads(zones_df[zones_df['name'] == sheet_result]['geometry'].tolist()[0])

zone_shape

In [326]:
intersections_shapes = []
for _, series in autocad_df_not_used.iterrows():
    geometry = series['geometry']
    geometry_type = series['type']
    intersection = zone_shape.intersection(geometry)
    if geometry_type == 'Polygon' or geometry_type == 'MultiPolygon':
        size = intersection.area
    elif geometry_type == 'LineString' or geometry_type == 'MultiLineString':
        size = intersection.length
    else:
        size = None
    if intersection:
        intersections_shapes.append({
            'split_number': series['split_number'],
            'type': geometry_type,
            'geometry': intersection,
            'size': size
        })
intersections_shapes_df = pd.DataFrame(intersections_shapes)

intersections_shapes_df

,split_number,type,geometry,size
0,3,Point,POINT (3108.838205298518 1707.285109871409),NaN
1,4,Point,POINT (3114.150988844972 1707.4695572873902),NaN
2,5,Point,POINT (3115.690642463274 1707.5867820573599),NaN
3,6,Point,POINT (3115.1004453425708 1706.18062074892),NaN
4,7,Point,POINT (3114.699609216242 1705.0905155704238),NaN
5,19а,Point,POINT (3115.8767179014208 1710.2258575299381),NaN
6,19б,Point,POINT (3115.8767179014208 1710.2258575299381),NaN
7,19в,Point,POINT (3115.8767179014208 1710.2258575299381),NaN
8,19г,Point,POINT (3115.8767179014208 1710.2258575299381),NaN
9,24,Point,POINT (3105.0233167174188 1709.065127000339),NaN
10,25,Point,POINT (3105.0233167174188 1709.065127000339),NaN
11,26,Point,POINT (3102.168668723462 1708.5065675452358),NaN
12,26а,Point,POINT (3102.168668723462 1708.5065675452358),NaN
13,27.1,Point,POINT (3102.4476191511308 1705.577447903106),NaN
14,27.2,Point,POINT (3102.4476191511308 1705.577447903106),NaN
15,27.3,Point,POINT (3102.4476191511308 1705.577447903106),NaN
16,8,Polygon,POLYGON ((3105.4447596941113 1698.807471550078...,41.486569
17,9,Polygon,POLYGON ((3105.4447596941113 1698.807471550078...,41.486569
18,15,LineString,LINESTRING (3097.9560283575443 1701.4723291555...,11.930715
19,16,LineString,LINESTRING (3099.2754038714006 1706.8144261618...,4.808556

In [327]:
sheet = xw.sheets[sheet_result]
for l in ['A', 'B']:
    sheet[f'{l}:{l}'].number_format = '@'
sheet.range('A1').value = intersections_shapes_df
sheet["A1"].value = ['index']

In [328]:
xw.sheets.active.name

'Зона 1'