In [142]:
import pandas as pd
from shapely.geometry import Polygon
from shapely.wkt import loads
import xlwings as xw

from src.validation import SearchAmbiguity

In [108]:
selected_cells = xw.apps.active.selection
selected_cells.value

7.0

In [17]:
selected_cells = xw.apps.active.selection
wkt = selected_cells.value
polygon: Polygon = loads(wkt)

In [166]:
sheet_result = 'Зона 1'

In [152]:
sheet_autocad = xw.sheets['Автокад']
autocad_df = sheet_autocad.range('A1').expand().options(pd.DataFrame, header=1, index=False).value
autocad_df['number_position'] = autocad_df['number_position'].apply(lambda x: loads(x))
autocad_df['geometry'] = autocad_df['geometry'].apply(lambda x: loads(x))

autocad_df

,index,Номер точки,number_position,split_number,type,geometry,size
0,0,3,POINT (3108.838205298518 1707.285109871409),3,Point,POINT (3108.838205298518 1707.285109871409),NaN
1,1,4,POINT (3114.150988844972 1707.4695572873902),4,Point,POINT (3114.150988844972 1707.4695572873902),NaN
2,2,5,POINT (3115.690642463274 1707.5867820573599),5,Point,POINT (3115.690642463274 1707.5867820573599),NaN
3,3,6,POINT (3115.1004453425708 1706.18062074892),6,Point,POINT (3115.1004453425708 1706.18062074892),NaN
4,4,7,POINT (3114.699609216242 1705.0905155704238),7,Point,POINT (3114.699609216242 1705.0905155704238),NaN
5,5,10,POINT (3104.043722283615 1698.543651078497),10,Point,POINT (3104.043722283615 1698.543651078497),NaN
6,6,11,POINT (3105.090899215862 1695.9481208535972),11,Point,POINT (3105.090899215862 1695.9481208535972),NaN
7,7,12,POINT (3106.332887793542 1693.7013226121771),12,Point,POINT (3106.332887793542 1693.7013226121771),NaN
8,8,14,POINT (3104.361115387819 1692.888423763281),14,Point,POINT (3104.361115387819 1692.888423763281),NaN
9,9,13,POINT (3107.4888707400646 1689.420932022136),13,Point,POINT (3107.4888707400646 1689.420932022136),NaN
10,10,18,POINT (3111.379753263188 1713.542099550268),18,Point,POINT (3111.379753263188 1713.542099550268),NaN
11,11,19а-г,POINT (3115.8767179014208 1710.2258575299381),19а,Point,POINT (3115.8767179014208 1710.2258575299381),NaN
12,12,19а-г,POINT (3115.8767179014208 1710.2258575299381),19б,Point,POINT (3115.8767179014208 1710.2258575299381),NaN
13,13,19а-г,POINT (3115.8767179014208 1710.2258575299381),19в,Point,POINT (3115.8767179014208 1710.2258575299381),NaN
14,14,19а-г,POINT (3115.8767179014208 1710.2258575299381),19г,Point,POINT (3115.8767179014208 1710.2258575299381),NaN
15,15,20,POINT (3115.0061404912108 1715.72499227971),20,Point,POINT (3115.0061404912108 1715.72499227971),NaN
16,16,21,POINT (3113.301828595038 1716.110113041026),21,Point,POINT (3113.301828595038 1716.110113041026),NaN
17,17,22,POINT (3112.086560913637 1715.354679146507),22,Point,POINT (3112.086560913637 1715.354679146507),NaN
18,18,23,POINT (3109.758842254726 1716.964399774057),23,Point,POINT (3109.758842254726 1716.964399774057),NaN
19,19,24-25,POINT (3105.0233167174188 1709.065127000339),24,Point,POINT (3105.0233167174188 1709.065127000339),NaN
20,20,24-25,POINT (3105.0233167174188 1709.065127000339),25,Point,POINT (3105.0233167174188 1709.065127000339),NaN
21,21,"26,26а",POINT (3102.168668723462 1708.5065675452358),26,Point,POINT (3102.168668723462 1708.5065675452358),NaN
22,22,"26,26а",POINT (3102.168668723462 1708.5065675452358),26а,Point,POINT (3102.168668723462 1708.5065675452358),NaN
23,23,27.1-27.3,POINT (3102.4476191511308 1705.577447903106),27.1,Point,POINT (3102.4476191511308 1705.577447903106),NaN
24,24,27.1-27.3,POINT (3102.4476191511308 1705.577447903106),27.2,Point,POINT (3102.4476191511308 1705.577447903106),NaN
25,25,27.1-27.3,POINT (3102.4476191511308 1705.577447903106),27.3,Point,POINT (3102.4476191511308 1705.577447903106),NaN
26,26,8,POINT (3106.665839634858 1703.063361392738),8,Polygon,"POLYGON ((3106.916523995033 1690.249262830753,...",72.187969
27,27,9,POINT (3104.129760581689 1690.6193231862521),9,Polygon,"POLYGON ((3106.916523995033 1690.249262830753,...",72.187969
28,28,1,POINT (3075.965582309878 1696.6051757815592),1,Polygon,POLYGON ((3075.045526933311 1693.2592293092591...,13.829652
29,29,2,POINT (3074.823165523758 1693.9006874227402),2,Polygon,POLYGON ((3075.045526933311 1693.2592293092591...,13.829652
30,30,15,POINT (3092.268998306507 1693.40414713145),15,LineString,LINESTRING (3092.268998306507 1693.40414713145...,18.868199
31,31,16,POINT (3099.2754038714006 1706.814426161843),16,LineString,LINESTRING (3099.2754038714006 1706.8144261618...,6.236122
32,32,17,POINT (3103.397247052118 1686.4241498990618),17,Polygon,POLYGON ((3106.4966015613422 1689.562929311654...,13.404293
33,33,28,POINT (3097.3196819427726 1694.2533347047422),28,Polygon,POLYGON ((3100.4190364519973 1697.392114117334...,13.404293
34,34,28,POINT (3098.977617627182 1697.65937651281),28,Polygon,POLYGON ((3100.4190364519973 1697.392114117334...,13.404293
35,35,28,POINT (3100.4190364519973 1697.392114117334),28,Polygon,POLYGON ((3100.4190364519973 1697.392114117334...,13.404293

In [147]:
sheet_zones = xw.sheets['Зоны']
zones_df = sheet_zones.range('A1').expand().options(pd.DataFrame, header=1, index=False).value

zones_df

   index    name                                           geometry
0    0.0  Зона 1  POLYGON ((3089.86853687141 1709.814916853105, ...
1    1.0  Зона 2  MULTIPOLYGON (((3117.421038375149 1688.1591344...
2    2.0  Зона 3  POLYGON ((3122.978988696761 1704.0782505312322...

In [171]:
zone_names = zones_df.name.tolist()
zone_names.remove(sheet_result)

zone_names

['Зона 2', 'Зона 3']

In [172]:
from win32com.universal import com_error

used_split_numbers = []
for zone_name in zone_names:
    try:
        sheet_zone = xw.sheets[zone_name]
    except com_error:
        continue
    split_numbers_series = sheet_zone.range('A1').expand().options(pd.DataFrame, header=1, index=False).value['split_number']
    used_split_numbers.extend(split_numbers_series.tolist())

used_split_numbers

['21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '26а',
 '27.1',
 '27.2',
 '27.3',
 '8',
 '9',
 '1',
 '2']

In [173]:
autocad_df_not_used = autocad_df[~autocad_df['split_number'].isin(used_split_numbers)]

autocad_df_not_used

,index,Номер точки,number_position,split_number,type,geometry,size
0,0,3,POINT (3108.838205298518 1707.285109871409),3,Point,POINT (3108.838205298518 1707.285109871409),NaN
1,1,4,POINT (3114.150988844972 1707.4695572873902),4,Point,POINT (3114.150988844972 1707.4695572873902),NaN
2,2,5,POINT (3115.690642463274 1707.5867820573599),5,Point,POINT (3115.690642463274 1707.5867820573599),NaN
3,3,6,POINT (3115.1004453425708 1706.18062074892),6,Point,POINT (3115.1004453425708 1706.18062074892),NaN
4,4,7,POINT (3114.699609216242 1705.0905155704238),7,Point,POINT (3114.699609216242 1705.0905155704238),NaN
5,5,10,POINT (3104.043722283615 1698.543651078497),10,Point,POINT (3104.043722283615 1698.543651078497),NaN
6,6,11,POINT (3105.090899215862 1695.9481208535972),11,Point,POINT (3105.090899215862 1695.9481208535972),NaN
7,7,12,POINT (3106.332887793542 1693.7013226121771),12,Point,POINT (3106.332887793542 1693.7013226121771),NaN
8,8,14,POINT (3104.361115387819 1692.888423763281),14,Point,POINT (3104.361115387819 1692.888423763281),NaN
9,9,13,POINT (3107.4888707400646 1689.420932022136),13,Point,POINT (3107.4888707400646 1689.420932022136),NaN
10,10,18,POINT (3111.379753263188 1713.542099550268),18,Point,POINT (3111.379753263188 1713.542099550268),NaN
11,11,19а-г,POINT (3115.8767179014208 1710.2258575299381),19а,Point,POINT (3115.8767179014208 1710.2258575299381),NaN
12,12,19а-г,POINT (3115.8767179014208 1710.2258575299381),19б,Point,POINT (3115.8767179014208 1710.2258575299381),NaN
13,13,19а-г,POINT (3115.8767179014208 1710.2258575299381),19в,Point,POINT (3115.8767179014208 1710.2258575299381),NaN
14,14,19а-г,POINT (3115.8767179014208 1710.2258575299381),19г,Point,POINT (3115.8767179014208 1710.2258575299381),NaN
15,15,20,POINT (3115.0061404912108 1715.72499227971),20,Point,POINT (3115.0061404912108 1715.72499227971),NaN
30,30,15,POINT (3092.268998306507 1693.40414713145),15,LineString,LINESTRING (3092.268998306507 1693.40414713145...,18.868199
31,31,16,POINT (3099.2754038714006 1706.814426161843),16,LineString,LINESTRING (3099.2754038714006 1706.8144261618...,6.236122
32,32,17,POINT (3103.397247052118 1686.4241498990618),17,Polygon,POLYGON ((3106.4966015613422 1689.562929311654...,13.404293
33,33,28,POINT (3097.3196819427726 1694.2533347047422),28,Polygon,POLYGON ((3100.4190364519973 1697.392114117334...,13.404293
34,34,28,POINT (3098.977617627182 1697.65937651281),28,Polygon,POLYGON ((3100.4190364519973 1697.392114117334...,13.404293
35,35,28,POINT (3100.4190364519973 1697.392114117334),28,Polygon,POLYGON ((3100.4190364519973 1697.392114117334...,13.404293