In [27]:
from IPython.display import display

from pathlib import Path

import pandas as pd

from src.processing.taxation_list import _open_file_taxation_list

In [11]:
file_path = Path().absolute().parent / "data/example_taxation_list.docx"

is_import_first_row = False
column_mapping = {
    'number': 0,
    'name': 1,
    'quantity': 2,
    'height': 3,
    'diameter': 4,
    'quality': 5
}

taxation_data_df = _open_file_taxation_list(file_path, is_import_first_row, column_mapping)
taxation_data_df

    origin_number              name  quantity height diameter  quality
0               1  Чёрная смородина    102 м2      1        -  Хорошее
1               2             Вишня         1    2,5     0,08  Хорошее
2               3         Крыжовник      8 м2    0,5        -  Хорошее
3               4            Малина     20 м2      1        -  Хорошее
4               5              Ирга         1      3        -  Хорошее
..            ...               ...       ...    ...      ...      ...
124           125   Яблоня домашняя         1      2     0,04  Хорошее
125           126   Яблоня домашняя  3 ствола  1,5х3   0,02х3  Хорошее
126           127   Яблоня домашняя  2 ствола    2х2   0,05х2  Хорошее
127           128            Малина         1    0,5        -  Хорошее
128           129        Ива ломкая     27 м2    1,5     0,01  Хорошее

[129 rows x 6 columns]

In [15]:
tree_size_df = taxation_data_df[['origin_number', 'name', 'quantity', 'height', 'diameter']].copy(deep=True)
tree_size_df

    origin_number              name  quantity height diameter
0               1  Чёрная смородина    102 м2      1        -
1               2             Вишня         1    2,5     0,08
2               3         Крыжовник      8 м2    0,5        -
3               4            Малина     20 м2      1        -
4               5              Ирга         1      3        -
..            ...               ...       ...    ...      ...
124           125   Яблоня домашняя         1      2     0,04
125           126   Яблоня домашняя  3 ствола  1,5х3   0,02х3
126           127   Яблоня домашняя  2 ствола    2х2   0,05х2
127           128            Малина         1    0,5        -
128           129        Ива ломкая     27 м2    1,5     0,01

[129 rows x 5 columns]

In [29]:
def split_tree_size(origin_number: str, name: str, quantity: str, height: str, diameter: str) -> list[list[str]]:
    return [[origin_number, origin_number, name, quantity, height, diameter]]

In [30]:
processed_data = []
for _, row in tree_size_df.iterrows():
    split_tree_size_result = split_tree_size(row['origin_number'], row['name'], row['quantity'], row['height'], row['diameter'])
    for origin_number, splitted_number, name, quantity, height, diameter in split_tree_size_result:
        processed_data.append(
            {
                'origin_number': origin_number,
                'split_number': splitted_number,
                'name': name,
                'quantity': quantity,
                'height': height,
                'diameter': diameter
            }
        )
processed_data_df = pd.DataFrame(processed_data)
processed_data_df

    origin_number split_number              name  quantity height diameter
0               1            1  Чёрная смородина    102 м2      1        -
1               2            2             Вишня         1    2,5     0,08
2               3            3         Крыжовник      8 м2    0,5        -
3               4            4            Малина     20 м2      1        -
4               5            5              Ирга         1      3        -
..            ...          ...               ...       ...    ...      ...
124           125          125   Яблоня домашняя         1      2     0,04
125           126          126   Яблоня домашняя  3 ствола  1,5х3   0,02х3
126           127          127   Яблоня домашняя  2 ствола    2х2   0,05х2
127           128          128            Малина         1    0,5        -
128           129          129        Ива ломкая     27 м2    1,5     0,01

[129 rows x 6 columns]