# Таксация

In [1]:
# %reload_ext autoreload
# %autoreload all
from IPython.display import display

from pathlib import Path

import pandas as pd

from src.processing.topographic_plan import create_topographic_plan
from src.processing.taxation_list import create_taxation_list

### Обработка топографического плана

Чтение dxf файла топографического чертежа и создание объекта топографического плана

In [2]:
topographic_plan = create_topographic_plan(dxf_path=Path("data/example_topographic_plan.dxf"),
                                           numbers_layers=["номера"],
                                           lines_layers=["полосы"],
                                           contours_layers=["контуры"],
                                           max_distance=0.01)
topographic_plan

,origin_number,number_position,split_number,type,geometry,size
0,3,POINT (3108.838205298518 1707.285109871409),3,Point,POINT (3108.838205298518 1707.285109871409),NaN
1,4,POINT (3114.150988844972 1707.46955728739),4,Point,POINT (3114.150988844972 1707.46955728739),NaN
2,5,POINT (3115.690642463274 1707.58678205736),5,Point,POINT (3115.690642463274 1707.58678205736),NaN
3,6,POINT (3115.100445342571 1706.18062074892),6,Point,POINT (3115.100445342571 1706.18062074892),NaN
4,7,POINT (3114.699609216242 1705.090515570424),7,Point,POINT (3114.699609216242 1705.090515570424),NaN
5,10,POINT (3104.043722283615 1698.543651078497),10,Point,POINT (3104.043722283615 1698.543651078497),NaN
6,11,POINT (3105.090899215862 1695.948120853597),11,Point,POINT (3105.090899215862 1695.948120853597),NaN
7,12,POINT (3106.332887793541 1693.701322612177),12,Point,POINT (3106.332887793541 1693.701322612177),NaN
8,14,POINT (3104.361115387819 1692.888423763281),14,Point,POINT (3104.361115387819 1692.888423763281),NaN
9,13,POINT (3107.488870740065 1689.420932022136),13,Point,POINT (3107.488870740065 1689.420932022136),NaN
10,18,POINT (3111.379753263187 1713.542099550268),18,Point,POINT (3111.379753263187 1713.542099550268),NaN
11,19а-г,POINT (3115.876717901421 1710.225857529938),19а,Point,POINT (3115.876717901421 1710.225857529938),NaN
12,19а-г,POINT (3115.876717901421 1710.225857529938),19б,Point,POINT (3115.876717901421 1710.225857529938),NaN
13,19а-г,POINT (3115.876717901421 1710.225857529938),19в,Point,POINT (3115.876717901421 1710.225857529938),NaN
14,19а-г,POINT (3115.876717901421 1710.225857529938),19г,Point,POINT (3115.876717901421 1710.225857529938),NaN
15,20,POINT (3115.006140491211 1715.72499227971),20,Point,POINT (3115.006140491211 1715.72499227971),NaN
16,21,POINT (3113.301828595038 1716.110113041026),21,Point,POINT (3113.301828595038 1716.110113041026),NaN
17,22,POINT (3112.086560913637 1715.354679146507),22,Point,POINT (3112.086560913637 1715.354679146507),NaN
18,23,POINT (3109.758842254726 1716.964399774057),23,Point,POINT (3109.758842254726 1716.964399774057),NaN
19,24-25,POINT (3105.023316717419 1709.065127000339),24,Point,POINT (3105.023316717419 1709.065127000339),NaN
20,24-25,POINT (3105.023316717419 1709.065127000339),25,Point,POINT (3105.023316717419 1709.065127000339),NaN
21,26-27,POINT (3102.168668723461 1708.506567545236),26,Point,POINT (3102.168668723461 1708.506567545236),NaN
22,26-27,POINT (3102.168668723461 1708.506567545236),27,Point,POINT (3102.168668723461 1708.506567545236),NaN
23,15,POINT (3092.268998306507 1693.40414713145),15,LineString,LINESTRING (3092.268998306507 1693.40414713145...,18.868199
24,16,POINT (3099.275403871401 1706.814426161843),16,LineString,LINESTRING (3099.275403871401 1706.81442616184...,6.236122
25,8,POINT (3106.665839634858 1703.063361392738),8,Polygon,"POLYGON ((3106.916523995033 1690.249262830753,...",72.187969
26,9,POINT (3104.129760581689 1690.619323186252),9,Polygon,"POLYGON ((3106.916523995033 1690.249262830753,...",72.187969
27,1,POINT (3075.965582309878 1696.605175781559),1,Polygon,"POLYGON ((3075.045526933311 1693.259229309259,...",13.829652
28,2,POINT (3074.823165523758 1693.90068742274),2,Polygon,"POLYGON ((3075.045526933311 1693.259229309259,...",13.829652
29,17,POINT (3103.397247052118 1686.424149899062),17,Polygon,"POLYGON ((3106.496601561342 1689.562929311654,...",13.404293

Проверка корректности датафрейма топографического плана

In [3]:
# дубликаты разделенных номеров
duplicated_slit_numbers = topographic_plan.duplicated(subset=['split_number'], keep=False)
if any(duplicated_slit_numbers):
    display(topographic_plan[duplicated_slit_numbers])
    raise ValueError(f"Обнаружены дубликаты разделенных номеров.")

## Обработка ведомости таксации

Чтение docx или xls ведомости таксации и создание объекта ведомости таксации

In [4]:
taxation_list = create_taxation_list(
    file_path=Path("data/example_taxation_list.docx"),
    is_import_first_row=False,
    column_mapping={
        'number': 0,
        'name': 1,
        'quantity': 2,
        'height': 3,
        'diameter': 4,
        'quality': 5
    }
)
taxation_list

    origin_number              name  quantity height diameter  quality
0               1  Чёрная смородина    102 м2      1        -  Хорошее
1               2             Вишня         1    2,5     0,08  Хорошее
2               3         Крыжовник      8 м2    0,5        -  Хорошее
3               4            Малина     20 м2      1        -  Хорошее
4               5              Ирга         1      3        -  Хорошее
..            ...               ...       ...    ...      ...      ...
124           125   Яблоня домашняя         1      2     0,04  Хорошее
125           126   Яблоня домашняя  3 ствола  1,5х3   0,02х3  Хорошее
126           127   Яблоня домашняя  2 ствола    2х2   0,05х2  Хорошее
127           128            Малина         1    0,5        -  Хорошее
128           129        Ива ломкая     27 м2    1,5     0,01  Хорошее

[129 rows x 6 columns]